$colors: (
    primary: rgb(63, 63, 63),
    accent: #ffcc00
);

@function color ($color-name) {
    @return map-get($colors, $color-name);
}

@mixin big-button {
    background-color: color(primary);
    color: color(accent);
    border-color: color(accent);
    border-radius: 20px;
    height: 5vh;
    font-size: 15px;
    }

    @mixin smol-button {
        background-color: color(primary);
        color: color(accent);
        border-color: color(accent);
        border-radius: 15px;
        height: 3vh;
        width: 20vw;
        font-size: 15px;
        }

%input-field {
    background-color: color(primary);
    color: color(accent);
    border-color: color(accent);
    border-radius: 20px;
    text-align: center;
}

body { 
    padding-top: 65px; 
}

.back-btn {
    @include smol-button;
    width: 70px;
    position: absolute;
    top: 70px;
    left: 10px;
}