$colors: (
    primary: rgb(63, 63, 63),
    accent: #ffcc00
);

@function color ($color-name) {
    @return map-get($colors, $color-name);
}

@mixin big-button {
    background-color: transparent;
    border-style: none;
    color: color(accent);
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-size: 30px;
    font-family: 'Sedgwick Ave Display', cursive;
    cursor: pointer;
    }

@mixin smol-button {
    background-color: color(primary);
    color: color(accent);
    border-color: color(accent);
    border-radius: 15px;
    width: 20vw;
    font-size: 15px;
    }

body { 
    padding-top: 65px; 
}

.back-btn {
    @include smol-button;
    width: 70px;
    position: absolute;
    top: 70px;
    left: 10px;
}
%input-field {
    input{    
        width: 300px;
        height: 40px;  
        font-size: 30px;
        font-family: 'Sedgwick Ave Display', cursive;
        background-color: transparent;
        border: none;   
        border-top: 3px solid color(accent);
        border-bottom: 3px solid color(accent);
        outline: none;
        color: color(accent);
        padding-left: 10px;  
        
        &:focus + label{
        top: -110px;
        font-size: 1.2em;
        transition: all .3s;
        }
    }
    
    label{
        display: block;
        position: relative;
        left: 10px;
        top: -43px;
        font-size: 30px;
        font-family: 'Sedgwick Ave Display', cursive;
        text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
        cursor: text;
        color: color(accent);    
        transition: all .3s;    
    }
}
