@import '../../../main.scss';

#guest-landing { 
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    position: static;
    height: 100vh;

    .heading {
        text-align: center;
        font-size: 2.5em;
        font-family: 'Montserrat', sans-serif;
        padding-top: 50px;
        color: white;
    }

    .buttons-container {
        display: flex;
        button {
            @include big-button;
            width: 147px;
            height: 50px;
        }
    }
}


//button size
@media(max-width: 470px) {
    .buttons-container {
        flex-direction: column;
        
        button {
            width: 60vw;
        };
    };
    
}

@media(min-width: 470px) {
    .buttons-container {
        flex-direction: row;
        justify-content: space-around;
        width: 40vw;

        button {
            width: 40vw;
        };
    };
}

//background
@media(min-width: 1050px) {
    #guest-landing {
        background: url(../../Spot-Fiend-Photos/wallpaper_skb1012_02.jpg) no-repeat center center;
        background-size: cover;
        background-position-y: 0%;
    }
}

@media(max-width: 1050px) {
    #guest-landing {
        background: url(../../Spot-Fiend-Photos/mobile-red.jpg) no-repeat center center;
        background-size: cover;
    }   
}