@import '../../../main.scss';

#guest-landing { 
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;

    position: static;
    height: 100vh;

    .heading {
        text-align: center;
        font-size: 2.5em;
        font-family: 'Montserrat', sans-serif;
        padding-top: 50px;
        color: white;
    }

    .buttons {
        display: flex;
        align-content: space-between;
        button {
        @include big-button;
        }
    }
}


//button size
@media(max-width: 470px) {
    .buttons {
        flex-direction: column;
    };
    button {
        width: 60vw;
    };
}

@media(min-width: 470px) {
    .buttons {
        flex-direction: row;
    };
    button {
        width: 30vw;
    };
}

//background
@media(min-width: 1050px) {
    #guest-landing {
        background: url(../../Spot-Fiend-Photos/wallpaper_skb1012_02.jpg) no-repeat center center;
    }
}

@media(max-width: 1050px) {
    #guest-landing {
        background: url(../../Spot-Fiend-Photos/mobile-red.jpg) no-repeat center center;
        background-size: cover;
    }
}