@import '../../../main.scss';

#guest-landing { 
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    position: static;
    height: 100vh;

    .heading {
        font-family: 'Montserrat', sans-serif;
        color: rgb(255, 255, 255);
    }

    .buttons-container {
        display: flex;
        button {
            width: 147px;
            height: 50px;
            cursor: pointer;
            background-color: color(accent);
            border-style: none;
            color: white;
            text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
            font-size: 30px;
            font-family: 'Sedgwick Ave Display', cursive;
        }

        button:hover {
            color: white;
        }
    }
}


//button size
@media(max-width: 470px) {
    .header {
        text-align: center;
        font-size: 79px;
    }

    .buttons-container {
        flex-direction: column;
        justify-content: space-between;
        height: 150px;
    };
}

@media(min-width: 470px) {
    .buttons-container {
        flex-direction: row;
        justify-content: space-around;
        width: 450px;
    };
}

//background
@media(min-width: 1050px) {
    #guest-landing {
        background: url(../../Spot-Fiend-Photos/wallpaper_skb1012_02.jpg) no-repeat center center;
        background-size: cover;
        background-position-y: 0%;

        .heading {
            margin-top: 50px;
            width: 650px;
            text-align: left;
            font-size: 150px;
        }
    }
}

@media(max-width: 1050px) {
    #guest-landing {
        background: url(../../Spot-Fiend-Photos/mobile-red.jpg) no-repeat center center;
        background-size: cover;

        .heading {
            margin-top: 150px;
            height: 300px;
            text-align: center;
            font-size: 79px;
            text-shadow: -.5px 0 black, 0 .5px black, .5px 0 black, 0 -.5px black;
        }
    }   
}