@import '../../../main.scss';

#post-spot-page {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    background: url(../../Spot-Fiend-Photos/IMG_2221.jpg) no-repeat center center; 
    background-size: cover;
    height: 100vh;

    .submit-btn {
        @include big-button;
    }
}

//background
@media(min-width: 650px) {
    #post-spot-page {
        background: url(../../Spot-Fiend-Photos/street-city-urban-bw-Canada-Vancouver-946974-wallhere.com.jpg)no-repeat center center;
        background-size: cover;
        background-position-x:60%;
    }
}

@media(max-width: 650px) {
    #post-spot-page {
        background: url(../../Spot-Fiend-Photos/mobile-air.jpg) no-repeat center center;
        background-size: cover;
    }
}