@import '../../../main.scss';

#post-spot-page {
    display: flex;
    align-items: center;
    flex-direction: column;
    background: url(../../Spot-Fiend-Photos/IMG_2221.jpg) no-repeat center center; 
    background-size: cover;
    height: 100vh;
    color: color(accent);
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;

    #add-spot-form{
        @extend %input-field;
        display: flex;
        z-index: 1;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        height: 760px; 

        .new-spot-input {
            margin-top: 70px;
        }

        .add-photo {
            height: 7em;
            width: 11em;
            cursor: pointer;
            z-index: -9999;
        }
            
        .desc-input {
            @extend %input-field;
            border-style: inset;
            border-width: 3px;
            border-radius: 5px;
            border-color: color(accent);
            vertical-align: 1;
            text-align: left;
            background-color: color(primary);
            color: whitesmoke;
        }
    }
}
.submit-btn {
    @include big-button;
    height: 45px;
    margin-top: 10px;
    align-self: center;
    cursor: pointer;
}

//background
@media(min-width: 650px) {
    #post-spot-page {
        background: url(../../Spot-Fiend-Photos/street-city-urban-bw-Canada-Vancouver-946974-wallhere.com.jpg)no-repeat center center;
        background-size: cover;
        background-position-x:60%;
        padding-top: 50px;
    }

    .desc-input {
        width: 30vw;
        height: 150px;
    }

    .new-spot-input, .submit-btn  {
        width: 30vw;
    }
}

@media(max-width: 650px) {
    #post-spot-page {
        background: url(../../Spot-Fiend-Photos/mobile-air.jpg) no-repeat center center;
        background-size: cover;
    }

    #add-spot-form {
        display: flex;
        align-items: center;
        flex-direction: column;
        position: relative;
        top: 70px;
    }

    .desc-input {
        width: 300px;
    }

    .new-spot-input, .submit-btn {
        width: 50vw;
    }
}