body {
  padding-top: 65px;
}

.back-btn {
  background-color: transparent;
  border-style: none;
  color: #ffcc00;
  font-size: 20px;
  font-family: 'Sedgwick Ave Display', cursive;
  cursor: pointer;
  width: 70px;
  position: absolute;
  top: 70px;
  left: 10px;
}

#post-spot-page #add-spot-form input, #post-spot-page #add-spot-form .desc-input input {
  width: 300px;
  height: 40px;
  font-size: 30px;
  font-family: 'Sedgwick Ave Display', cursive;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  background-color: transparent;
  border: none;
  border-top: 3px solid #ffcc00;
  border-bottom: 3px solid #ffcc00;
  outline: none;
  color: #ffcc00;
  padding-left: 10px;
}

#post-spot-page #add-spot-form input:focus + label, #post-spot-page #add-spot-form .desc-input input:focus + label {
  top: -110px;
  font-size: 1.2em;
  -webkit-transition: all .3s;
  transition: all .3s;
}

#post-spot-page #add-spot-form label, #post-spot-page #add-spot-form .desc-input label {
  display: block;
  position: relative;
  left: 10px;
  top: -43px;
  font-size: 30px;
  font-family: 'Sedgwick Ave Display', cursive;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  cursor: text;
  color: #ffcc00;
  -webkit-transition: all .3s;
  transition: all .3s;
}

#post-spot-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: url(../../Spot-Fiend-Photos/IMG_2221.jpg) no-repeat center center;
  background-size: cover;
  height: 100vh;
  color: #ffcc00;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#post-spot-page #add-spot-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  height: 760px;
}

#post-spot-page #add-spot-form .new-spot-input {
  margin-top: 70px;
}

#post-spot-page #add-spot-form .add-photo {
  height: 11em;
  width: 15em;
  cursor: pointer;
  z-index: 0;
}

#post-spot-page #add-spot-form .desc-input {
  border-style: inset;
  border-width: 3px;
  border-radius: 5px;
  border-color: #ffcc00;
  vertical-align: 1;
  text-align: left;
  background-color: #3f3f3f;
  color: whitesmoke;
}

.submit-btn {
  background-color: transparent;
  border-style: none;
  color: #ffcc00;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  font-size: 30px;
  font-family: 'Sedgwick Ave Display', cursive;
  cursor: pointer;
  height: 45px;
  margin-top: 10px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  cursor: pointer;
}

@media (min-width: 650px) {
  #post-spot-page {
    background: url(../../Spot-Fiend-Photos/street-city-urban-bw-Canada-Vancouver-946974-wallhere.com.jpg) no-repeat center center;
    background-size: cover;
    background-position-x: 60%;
    padding-top: 50px;
  }
  .desc-input {
    width: 30vw;
    height: 150px;
  }
  .new-spot-input, .submit-btn {
    width: 30vw;
  }
}

@media (max-width: 650px) {
  #post-spot-page {
    background: url(../../Spot-Fiend-Photos/mobile-air.jpg) no-repeat center center;
    background-size: cover;
  }
  #add-spot-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: relative;
    top: 70px;
  }
  .desc-input {
    width: 300px;
  }
  .new-spot-input, .submit-btn {
    width: 50vw;
  }
}
/*# sourceMappingURL=AddSpot.css.map */