@import '../../../main.scss';

#post-spot-page {
    display: flex;
    align-items: center;
    flex-direction: column;
    background: url(../../Spot-Fiend-Photos/IMG_2221.jpg) no-repeat center center; 
    background-size: cover;
    height: 100vh;

    #add-spot-form{
        display: flex;
        z-index: 1;
        .new-spot-input {
            @extend %input-field;
            height: 40px;
        }
    }
}
.submit-btn {
    @include big-button;
    height: 45px;
    align-self: center;
}

//background
@media(min-width: 650px) {
    #post-spot-page {
        background: url(../../Spot-Fiend-Photos/street-city-urban-bw-Canada-Vancouver-946974-wallhere.com.jpg)no-repeat center center;
        background-size: cover;
        background-position-x:60%;
    }

    .new-spot-input, .submit-btn  {
        width: 30vw;
    }
}

@media(max-width: 650px) {
    #post-spot-page {
        background: url(../../Spot-Fiend-Photos/mobile-air.jpg) no-repeat center center;
        background-size: cover;
    }

    #add-spot-form {
        display: flex;
        align-items: center;
        flex-direction: column;
        position: relative;
        top: 70px;
    }

    .new-spot-input, .submit-btn {
        width: 50vw;
    }

    #bg {
        position: relative;
        height: 195px;
        width: 70vw;
        background-color: color(primary);
        bottom: 100px;
        border-color: color(accent);
        border-style: groove;
        border-width: 4px;
        border-radius: 20px;
        opacity: .9;
    }
}