@import '../../../main.scss';

@font-face {
    font-family: skateandfontimport;
    src: url('./SKATRG__.TTF');
}

#homepage {
    text-align: center;
    padding-top: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    background: url(../../Spot-Fiend-Photos/p2_1.jpg) no-repeat center center; 
    background-size: cover;

    position: static;
    height: 100vh;

    #main-title {
        font-family: skateandfontimport;
        font-size: 60px;
        color: white;
    }

    .add-spot {
        @include smol-button;
        width: 130px;
        height: 40px;
        // position: relative;
        left: 320px;
        margin-bottom: 10px;
    }
}

//background
@media(min-width: 1050px) {
    #homepage {
        background: url(../../Spot-Fiend-Photos/wallpaper_skb1012_02.jpg) no-repeat;
        background-size: cover
    }
}

@media(max-width: 1050px) {
    #homepage {
        background: url(../../Spot-Fiend-Photos/mobile-freeway.jpg) no-repeat center center;
        background-size: cover;
    }
}