@import '../../../main.scss';

#homepage {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    background: url(../../Spot-Fiend-Photos/p2_1.jpg) no-repeat center center; 
    background-size: cover;

    position: static;
    height: 100vh;

    .add-spot {
        @include big-button;
    }
}

//background
@media(min-width: 1050px) {
    #homepage {
        background: url(../../Spot-Fiend-Photos/Matt-Berger-Rhino.jpg);
        background-position-x: 50%;
    }
}

@media(max-width: 1050px) {
    #homepage {
        background: url(../../Spot-Fiend-Photos/mobile-freeway.jpg) no-repeat center center;
        background-size: cover;
    }
}