@import '../../../main.scss';

#register-form {
    padding-top: 105px;
    padding-bottom: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;

    .register-input {
        @extend %input-field;
        margin-top: 5px;
        height: 30px;
        font-size: 15px;
    }
}

@media(max-width: 670px) {
    .register-input {
        width: 60vw;
    };
}

@media(min-width: 670px) {
    .register-input {
        width: 30vw;
    };
}

//background
@media(min-width: 500px) {
    #register-form{
        background: url(../../Spot-Fiend-Photos/Matt-Berger-Rhino.jpg) no-repeat center center; 
        background-size: cover;
        }
}

@media(max-width: 500px) {
    #register-form {
        background: url(../../Spot-Fiend-Photos/mobile-b&w2.jpg) no-repeat center center;
        background-size: cover;
    }
}