@import '../../../main.scss';

#register-page {
    padding-top: 105px;
    padding-bottom: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    #register-form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: rgba(48, 48, 48, 0.664);
        height: 550px;
        width: 400px;
        @extend %input-field;

        .register-input {
            margin-top: 30px;
        }

        #register {
            @include big-button;
        }
    }
}

@media(max-width: 670px) {
    .register-input {
        width: 60vw;
    };
}

@media(min-width: 670px) {
    .register-input {
        width: 30vw;
    };
}

//background
@media(min-width: 500px) {
    #register-page{
        background: url(../../Spot-Fiend-Photos/Matt-Berger-Rhino.jpg) no-repeat center center; 
        background-size: cover;
        }
}

@media(max-width: 500px) {
    #register-page {
        background: url(../../Spot-Fiend-Photos/mobile-b&w2.jpg) no-repeat center center;
        background-size: cover;
    }
}