@import '../../../main.scss';

#my-spots-page {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    background: 17% url(../../Spot-Fiend-Photos/p2_1.jpg) ;
    background-size: cover;
    height: 100vh;
    
    .my-posts-container {
        background-color: hsla(0, 0%, 11%, 0.705);
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow: auto;
        height: 75vh;
        border-style: inset;
        border-radius: 20px;
        border-color: color(accent);

        .my-post {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            height: auto;
            background-color: color(primary);
            border-style: ridge;
            border-color: color(accent);
            border-radius: 20px;
            margin-top: 13px;
            color: white;

            .my-post-item-container {
                display: flex;
                flex-direction: column;
            }
            

            .delet-btn {
                @include smol-button;
                width: 100px;
                height: 40px;
                position: relative;
            }
        }

        h2 {
            color: white;
        }
    }
}

//background
@media(min-width: 830px) {
    #my-spots-page {
        background: url(../../Spot-Fiend-Photos/rolling.jpg) no-repeat center center;
        background-size: cover;
    }
}

@media(max-width: 830px) {
    #my-spots-page {
        background: url(../../Spot-Fiend-Photos/mobile-pipes.jpg) no-repeat center center;
        background-size: cover;
    }
}

@media(min-width: 630px) {
    .my-posts-container {
        width: 48vw;
        .my-post {
            width: 45vw;
        }
    }
}

@media(max-width: 630px) {
    .my-posts-container {
        width: 80vw;
        .my-post {
            width: 75vw;
        }
    }
}