@import '../../../main.scss';

#my-spots-page {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    background: 17% url(../../Spot-Fiend-Photos/p2_1.jpg) ;
    background-size: cover;
    height: 100vh;

    h1 {
        padding-top: 10px;
        color: color(accent);
        text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
        font-size: 30px;
        font-family: 'Sedgwick Ave Display', cursive;
    }
    
    .my-posts-container {
        background-color: hsla(0, 0%, 11%, 0.705);
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow: auto;
        height: 75vh;
        border-style: inset;
        border-radius: 20px;
        border-color: color(accent);
    }

    .add-spot {
        width: 147px;
        height: 50px;
        cursor: pointer;
        background-color: color(accent);
        border-style: none;
        color: white;
        text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
        font-size: 30px;
        font-family: 'Sedgwick Ave Display', cursive;
    }
}

//background
// @media(min-width: 830px) {
//     #my-spots-page {
//         background: url(../../Spot-Fiend-Photos/rolling.jpg) no-repeat center center;
//         background-size: cover;

//         .my-posts-container {
//             width: 68vw;
//         }
//     }
// }

@media(max-width: 830px) {
    #my-spots-page {
        background: url(../../Spot-Fiend-Photos/mobile-pipes.jpg) no-repeat center center;
        background-size: cover;
    }
}