@import '../../../main.scss';

#my-spots {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    background: 17% url(../../Spot-Fiend-Photos/p2_1.jpg) ;
    background-size: cover;
    height: 100vh;
}

//background
@media(min-width: 1050px) {
    #my-spots {
        background: url(../../Spot-Fiend-Photos/Eric-Koston.jpg) no-repeat center center;
        background-size: cover;
    }
}

@media(max-width: 1050px) {
    #my-spots {
        background: url(../../Spot-Fiend-Photos/01mag-jones-02-master1050-v4.jpg) no-repeat center center;
        background-size: cover;
    }
}