@import '../../../main.scss';

#login-form {
    padding-top: 105px;
    padding-bottom: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;

    .login-input {
        @extend %input-field;
        margin-top: 5px;
        height: 30px;
        font-size: 15px;
    }
}

//input size
@media(max-width: 670px) {
    .login-input {
        width: 60vw;
    };
}

@media(min-width: 670px) {
    .login-input {
        width: 30vw;
    };
}

//background
@media(min-width: 1050px) {
    #login-form{
        background: url(../../Spot-Fiend-Photos/p2_1.jpg) no-repeat center center; 
        background-size: cover;    }
}

@media(max-width: 1050px) {
    #login-form {
        background: url(../../Spot-Fiend-Photos/mobile-b&w.jpg) no-repeat center center;
        background-size: 100vh;
    }
}