@import '../../../main.scss';

#my-spot {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

//background
@media(min-width: 1050px) {
    #my-spot {
        background: url(../../Spot-Fiend-Photos/Hondar.jpg)no-repeat center center;
        background-size: cover;
        background-position-x:60%;
    }
}

@media(max-width: 1050px) {
    #my-spot {
        background: url(../../Spot-Fiend-Photos/gustavo-ribeiro-red-bull-skate.jpg) no-repeat center center;
        background-size: cover;
    }
}