.my-post .edit-post-form .edit-post-input {
  background-color: #3f3f3f;
  color: #ffcc00;
  border-color: #ffcc00;
  border-radius: 40px;
  text-align: center;
}

body {
  padding-top: 65px;
}

.back-btn {
  background-color: #3f3f3f;
  color: #ffcc00;
  border-color: #ffcc00;
  border-radius: 15px;
  width: 20vw;
  font-size: 15px;
  width: 70px;
  position: absolute;
  top: 70px;
  left: 10px;
}

.my-post {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: auto;
  background-color: #3f3f3f;
  border-style: ridge;
  border-color: #ffcc00;
  border-radius: 20px;
  margin-top: 13px;
  color: white;
}

.my-post .edit-post-form {
  position: absolute;
  margin-left: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-self: flex-end;
}

.my-post .edit-post-form .edit-post-input {
  width: 200px;
  height: 30px;
}

.my-post .edit-post-form .edit-btn {
  background-color: #3f3f3f;
  color: #ffcc00;
  border-color: #ffcc00;
  border-radius: 15px;
  width: 20vw;
  font-size: 15px;
  width: 100px;
  height: 20px;
  position: relative;
}

.my-post .toggle-edit {
  background-color: #3f3f3f;
  color: #ffcc00;
  border-color: #ffcc00;
  border-radius: 15px;
  width: 20vw;
  font-size: 15px;
  width: 30px;
  height: 25px;
  position: static;
}

.my-post .my-post-item-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 200px;
}

.my-post .delet-btn {
  background-color: #3f3f3f;
  color: #ffcc00;
  border-color: #ffcc00;
  border-radius: 15px;
  width: 20vw;
  font-size: 15px;
  width: 30px;
  height: 30px;
  position: relative;
  margin-top: 10px;
}

.my-spot-photo {
  height: auto;
  width: auto;
  max-width: 250px;
  max-height: 200px;
}

h2 {
  color: white;
}

@media (min-width: 1050px) {
  #my-spot {
    background: url(../../Spot-Fiend-Photos/Hondar.jpg) no-repeat center center;
    background-size: cover;
    background-position-x: 60%;
  }
}

@media (max-width: 1050px) {
  #my-spot {
    background: url(../../Spot-Fiend-Photos/gustavo-ribeiro-red-bull-skate.jpg) no-repeat center center;
    background-size: cover;
  }
}

@media (max-width: 800px) {
  .my-posts-container {
    width: 80vw;
  }
  .my-posts-container .my-post {
    width: 78vw;
  }
  .my-post {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (min-width: 800px) {
  .my-posts-container {
    width: 70vw;
  }
  .my-posts-container .my-post {
    width: 65vw;
  }
  .my-post {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
/*# sourceMappingURL=MySpot.css.map */