@import '../../../main.scss';

.my-post {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: auto;
    background-color: color(primary);
    border-style: ridge;
    border-color: color(accent);
    border-radius: 20px;
    margin-top: 3px;
    margin-bottom: 13px;
    color: white;

    .edit-post-form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        .edit-post-input {
            width: 200px;
            height: 30px;
            border: none;
            border-bottom-style: ridge;
            border-bottom-color: color(accent);
            background-color: transparent;
            outline: none;
            color: white;
        }

        .edit-btn {
            @include smol-button;
            width: 100px;
            height: 50px;
            position: relative;
        }
    }
    
    .toggle-edit {
        @include smol-button;
            width: 30px;
            height: 25px;
            position: static;
    }

    .my-post-item-container {
        display: flex;
        flex-direction: column;
        width: 200px;
    }
    
    .delet-btn {
        @include smol-button;
        width: 30px;
        height: 30px;
        position: relative;
        margin-top: 10px;
    }
}

.my-spot-photo {
    // height: auto;
    // width: auto;
    // max-width: 250px;
    // max-height: 200px;
}

h2 {
    color: white;
}

//background
@media(min-width: 1050px) {
    #my-spot {
        background: url(../../Spot-Fiend-Photos/Hondar.jpg)no-repeat center center;
        background-size: cover;
        background-position-x:60%;
    }
}

@media(max-width: 1050px) {
    #my-spot {
        background: url(../../Spot-Fiend-Photos/gustavo-ribeiro-red-bull-skate.jpg) no-repeat center center;
        background-size: cover;
        justify-content: center;
        align-content: center;
    }

    .my-post {
        width: 76vw;
    }

    .my-spot-photo {
        height: auto;
        width: auto;
        max-width: 250px;
        max-height: 200px;
    }
}

@media(min-width: 500px) {
    .my-post {
        flex-direction: row-reverse;
    }

    .photo-container{
        display: flex;
        justify-content: center;
        width: 100%;
        height: 100%;

        .my-spot-photo {
            height:90%;
            margin:auto;
            max-width: 80%;
        }
    }
    
}

@media(min-width: 870px) {
    .my-posts-container {
        width: 70vw;
        .my-post {
            width: 65vw;
            max-height: 400px;
        }
    }
}

@media(max-width: 870px) {
    .my-posts-container {
        width: 80vw;
        .my-post-container {
            max-height: 400px;
            .my-post {
                width: 78vw;
            }
        }
        
    }
    .my-post {
        flex-direction: column;
    }
}